.App {
  text-align: center;
  font-family: Verdana;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.weather-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-input {
  width: 8rem;
}

.weather-button {
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  color: white;
  background-color: #12a366;
}
